:root {
    --my-background: #EEEEEE;
    --my-menu-color: #00ADB5;
    --my-background-menu: #222831;
    --my-fonts-color: #393E46;
}

body {
    background-color: var(--my-background);
    font-family: Arial, Helvetica, sans-serif;
}
#topMenu {
    background-color: var(--my-background-menu);
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 0px;    
}
header {
    width: fit-content;
    margin-left: 30px;
    flex: 1;
}
header h1 {
    color: var(--my-menu-color);
}
.menuPrincipal {
    align-items: center;
    padding: 0px;
    flex: 2;    
}
.menuItem {
    display: inline-block;
    min-width:fit-content;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
}
.menuItem > a {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: var(--my-menu-color);
}
.conteudo {
    width: 60%;
    position: absolute;
    top: 150px;
    right: 20%;
    left: 20%;
}

#foto-perfil {
    height: 250px;
    width: 250px;
    border: 10px solid var(--my-background-menu);
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 20px;
}
#apresentacao {
    width: 500px;
}

#rodape {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align-last: center;
}