:root {
    --my-background: #EEEEEE;
    --my-menu-color: #00ADB5;
    --my-background-menu: #222831;
    --my-fonts-color: #393E46;
}

* {
    
    margin: 0px;
    padding: 0px;
    font-family: 'Poppings', sans-serif;    
}
body {
    background-color: var(--my-background);
}
header {
    background-color: var(--my-background-menu);
    color: var(--my-menu-color);
    float: left;
    height: 50px;
    align-content: center;
    margin:auto;
    padding-left: 30px;
    justify-content: space-between;    
}
nav {
    background-color: var(--my-background-menu);
}
.menuPrincipal {
    background-color: var(--my-background-menu);
    display:flex;
    height: 50px;
    margin-left: 35%;
    margin-right: auto;
}
.menuItem {
    display: block;
    font-size: 20px;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;      
    a {
        text-decoration: none;
        color: var(--my-menu-color);
        text-align:justify;
    }  
}
.menuItem:hover {
    background-color: var(--my-fonts-color);
}
hgroup h1 {
    font-weight: bold;
}
#portfolio {
    width: 50%;
    margin-left: 25%;
    padding: 15px;
}