/* Estilos gerais e variáveis */

:root {
    --my-background: #EEEEEE;
    --my-menu-color: #00ADB5;
    --my-background-menu: #222831;
    --my-fonts-color: #393E46;
}

body {
    background-color: var(--my-background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Estilos para o Menu de navegação */

#topMenu {
    background-color: var(--my-background-menu);
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;    
}
#topMenu, .menuPrincipal {
    display: flex;
    flex-direction: row;
}
#topMenu h1, a {
    color: var(--my-menu-color);
    padding: 0 20px;
    text-decoration: none;
}
#topMenu h1 {
    font-size: 1.8rem;
    margin: 0 20px;
}
#topMenu a {
    font-size: 1.5rem;
}
.menuPrincipal {
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.menuItem {
    padding: 0 20px;
}
#menuButton {
    width: 100px;
    position: absolute;
    right: 45px;
    display: none;
}
.menuItem:hover {
    scale: 1.2;
}

/* Estilos para o conteúdo das páginas */

.conteudo {
    margin-top: 150px;
    margin-bottom: 100px;
    width: 80%;
    font-size: 1.25rem;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
}

#foto-perfil {
    height: 250px;
    width: 250px;
    border: 10px solid var(--my-background-menu);
    border-radius: 50%;
    position: absolute;
    right: 15%;
    top: 150px;
}
#tech-background {
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 1000px;
}
#apresentacao {
    max-width: 500px;
}
button {
    height: 50px;
    width: 300px;
    border-radius: 20px;
    background-color: var(--my-background-menu);
    font-size: 1.2rem;
    color: var(--my-menu-color);
}

button:hover {
    scale: 1.1;
    background-color: var(--my-fonts-color);
}

.formacao li {
    border: 1px solid var(--my-fonts-color);
    color: var(--my-menu-color);
    background-color: var(--my-background-menu);
    text-decoration: none;
    border-radius: 25px;
    margin: 20px;
    padding: 30px;
    align-content: center;
}
.formacao img {
    width: 150px;
}

.sobre p {
    text-align: justify;
}

.formulario {
    margin-left: auto;
    margin-right: auto;
}
.formulario label {
    margin-left: auto;
    margin-right: auto;
}

#ferramentas {
    text-align: center;
}

#ferramentas > div {
    display: inline-block;
    padding: 20px;

}

#ferramentas p {
    text-align: center;
    margin: 2px;
}

#ferramentas .medio {
    background-color: #fef3c7;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    font-weight: bold;
    color: #de8821;
    text-transform: uppercase;
}

#ferramentas .basico {
    background-color: #e0f2fe;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    font-weight: bold;
    color: #49a7d8;
    text-transform: uppercase;
}

#ferramentas img {
    height: 100px;
}

#flaticon {
    text-decoration: none;
    color: var(--my-menu-color);
    font-size: 15px;
    text-align:end;
    margin: 0px;
    padding: 0px;
    font-weight: 100;
}

#portfolio a, li {
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 0;
}

#portfolio img {
    width: 800px;
}

#portfolio h3 {
    color: var(--my-fonts-color);
}


/* Estilos para o rodapé da página (Footer) */

#rodape {
    position:fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align-last: center;
    background-color: var(--my-background-menu);
    color: var(--my-menu-color);
    font-weight: 600;
}


/* Responsividade */


/* Comportamento para telas abaixo de 1245px de largura*/
@media (max-width: 1245px) {
    #topMenu a {
        font-size: 1.2rem;
        padding: 0 5px;
    }
    #topMenu {
        padding: 0px;
    }
    #topMenu h1 {
        margin: 0px;
    }
}

/* Comportamento para telas abaixo de 918px de largura */

@media (max-width: 918px) {
    #topMenu, .menuPrincipal {
        flex-direction: column;
        align-items: unset;        
    }
    .menuPrincipal {
        text-align: center;
        font-size: 1.5rem;
        margin: 0px;
        height: 0;
    }
    .menuPrincipal .menuItem {
        padding: 10px;
        font-size: 1.5rem;
        display: none;
    }
    .menuPrincipal > .menuItem > a {
        font-size: 1.5rem;
    }
    #topMenu {
        padding-top: 20px;
        height: 50px;
    }
    #menuButton {
        display: block;
        border: none;
        font-size: 2rem;
        position: absolute;
        top: 10px;
        right: 5%;        
    }
    #foto-perfil {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 90px;
        left: 23%;
        z-index: -1;
    }
    .conteudo {
        margin-top: 280px;
        
    }
    .botaoMsg button {
        width: 250px;
    }
}

@media (max-width: 450px) {
    #topMenu .tituloPag {
        font-size: 1.2rem;        
    }
}

/* Funcionalidade do botão de menu expansivo */

#topMenu:focus-within .menuItem {
    display: block;
    background-color: var(--my-background-menu);
}
